@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This web application was created using ASP.NET and Entity Framework by Niall Martin for
    a final year project in NUIG's Computer Science & Information Technology course
</p>
