@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Address</strong><br />
    National University of Ireland, Galway<br />
    University Road <br />
    Galway<br />
    Co. Galway<br />
    Ireland<br />

</address>

<address>
    <strong>Business Enquiries:</strong>   <a href="mailto:business@niallmartin.com">business@niallmartin.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/NiallFMartin">NiallFMartin</a>
</address>