@{
    ViewBag.Title = "Athletics Management - Faulure";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div class="row" align="center">
        <h2>
            Changes Unsuccessful
        </h2>
    </div>
    <div class="jumbotron" , align="center">
        <div align="center">
            @Html.ActionLink("Return to Main Menu", "Portal", "Application", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
</body>
</html>
